.container {
    margin-left: 10%;
    margin-right: 10%;
}
.content .container {
    margin-left: 15%;
    margin-right: 15%;
}

.ui.menu h1 {
    margin-left: 3%;
    padding-top: 1%;
}

.ui.message a {
    cursor: pointer;
}